static/* linguist-vendored
vendor/* linguist-vendored
views/* linguist-vendored
app.json linguist-documentation
heroku.yml linguist-documentation
Procfile linguist-documentation
Makefile linguist-documentation